# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# Distribution / packaging
*.egg-info

# virtual environment
.venv

# generated
src/*.wav
src/dataset
src/mit_rirs
src/fma*
src/audioset*
src/commands_augmented